:root { 
  background-color: offwhite; 
}

* { 
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

header { 
  background-image: linear-gradient(to right, steelblue, purple); 
  text-align:center;
  padding: 5px; 
}

form { 
  margin:11px;
  border:1px solid steelblue;
  padding: 10px;
}

.card { 
  height:30%;
  background: steelblue;
  margin: 2px; 
  height: 300px;
}

.card-body { 
  padding: 1px; 
}

.card-deck { 
  height:30%;
  display:flex; 
  justify-content: space-between;
}

.row {
  padding-left: 10px;
  display:flex; 
  justify-content: center;
}

.form-label { 
  font-style: bold;
  font-size:30px;
}

.title { 
  font-weight: bold;
  color:white; 
  font-size: 40px;
}

.boxs { 
  border:5px steelblue solid;
  margin-top:3px;
}


.wC{
  height: 190px;
  border: 1px;
  background-color: blanchedalmond;
  margin-top: 20px;
  padding: 10px;
}

#test { 
  display:flex; 
  justify-content: space-between;
}

#searchBtn{
  margin-top: 30px;
  width:100%;
}

#citySearch{ 
  width:100%;
}

